<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Hello World project" Description="These rules focus on critical issues for the Hello World app." ToolsVersion="16.0">
  <Localization ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll" ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
    <Name Resource="HelloWorldRules_Name" />
    <Description Resource="HelloWorldRules_Description" />
  </Localization>
  <Include Path="allrules.ruleset" Action="Default" />
  <Include Path="concurrencycheckrules.ruleset" Action="Default" />
  <Include Path="concurrencyrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1000" Action="Error" />
    <Rule Id="CA1001" Action="Error" />
    <Rule Id="CA1009" Action="Warning" />
    <Rule Id="CA1011" Action="Warning" />
    <Rule Id="CA1016" Action="Warning" />
    <Rule Id="CA1021" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1040" Action="Error" />
    <Rule Id="CA1302" Action="Error" />
    <Rule Id="CA1819" Action="Warning" />
    <Rule Id="CA2000" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="CA2100" Action="None" />
    <Rule Id="SA1649" Action="None" />
  </Rules>
</RuleSet>